__pycache__
words/
wordTest.py
elapsedTime.txt
elapsedTime.txt
newHeadlines.txt
words/JJ.txt
words/NN.txt
words/NNP.txt
words/.DS_Store
elapsedTime.txt
newHeadlines.txt
words/JJ.txt
./words/NN.txt
words/NNP.txt
archive/randtest.py
archive/rsstest.py
ideo.txt
.DS_Store
archive/.DS_Store
archive/Anytest.py
archive/dedupe.py
archive/fetchWords.py
archive/functions.py
archive/langModel.py
archive/langModel2.py
archive/lex.java
archive/lexTest.py
archive/main.py
archive/scroll.py
archive/str test 7.py
archive/testfile.py
archive/timeRecordTest.py
archive/timetest.py
archive/verbs.py
archiveFiles/Anytest.py
archiveFiles/dedupe.py
archiveFiles/fetchWords.py
archiveFiles/functions.py
archiveFiles/langModel.py
archiveFiles/langModel2.py
archiveFiles/lex.java
archiveFiles/lexTest.py
archiveFiles/main.py
archiveFiles/randtest.py
archiveFiles/rsstest.py
archiveFiles/scroll.py
archiveFiles/str test 7.py
archiveFiles/testfile.py
archiveFiles/timeRecordTest.py
archiveFiles/timetest.py
archiveFiles/verbs.py
reality.py
.DS_Store
.DS_Store
curate.py
curate.txt
words/NNP.txt
words/NN.txt
words/JJ.txt
newHeadlines.txt
elapsedTime.txt
AINN.code-workspace
ainnweb.py
dist/main.app/Contents/Info.plist
dist/main.app/Contents/MacOS/main
dist/main.app/Contents/MacOS/python
dist/main.app/Contents/PkgInfo
dist/main.app/Contents/Resources/__boot__.py
dist/main.app/Contents/Resources/__error__.sh
dist/main.app/Contents/Resources/__pycache__/site.cpython-39.pyc
dist/main.app/Contents/Resources/audio/chime.mp3
dist/main.app/Contents/Resources/audio/chime.ogg
dist/main.app/Contents/Resources/audio/chime.wav
dist/main.app/Contents/Resources/audio/chime2.wav
dist/main.app/Contents/Resources/images/load1.png
dist/main.app/Contents/Resources/images/load2.png
dist/main.app/Contents/Resources/images/load3.png
dist/main.app/Contents/Resources/images/load4.png
dist/main.app/Contents/Resources/images/load5.png
dist/main.app/Contents/Resources/images/load6.png
dist/main.app/Contents/Resources/images/logo.png
dist/main.app/Contents/Resources/images/splash.png
dist/main.app/Contents/Resources/lib/python3.9/config
dist/main.app/Contents/Resources/lib/python3.9/site.pyc
dist/main.app/Contents/Resources/PythonApplet.icns
dist/main.app/Contents/Resources/README.md
dist/main.app/Contents/Resources/site.py
dist/main.app/Contents/Resources/words/.txt
dist/main.app/Contents/Resources/words/?.txt
dist/main.app/Contents/Resources/words/demo.txt
dist/main.app/Contents/Resources/words/ideo.txt
dist/main.app/Contents/Resources/words/is.txt
dist/main.app/Contents/Resources/words/JJ.txt
dist/main.app/Contents/Resources/words/NN.txt
dist/main.app/Contents/Resources/words/NNP.txt
dist/main.app/Contents/Resources/words/NNS.txt
dist/main.app/Contents/Resources/words/VBD.txt
dist/main.app/Contents/Resources/words/VBG.txt
dist/main.app/Contents/Resources/words/VBZ.txt
dist/main.app/Contents/Resources/words/verbING.txt
dist/main.app/Contents/Resources/words/verbsNew.txt
dist/main.app/Contents/Resources/words/verbState.txt
dist/main.app/Contents/Resources/words/verbTrans.txt
dist/main.app/Contents/Resources/words/while.txt
venv/
.unotes